*.o
*.obj
*.a
*.so
*.dylib
*.dSYM
*.dll
*.exe
*.exp
*.ilk
*.lib
*.pdb
*.old
*.qlf
*.out
*.aux
*.idx
*.ilg
*.ind
*.log
*.toc
*.bbl
*.blg
*.manifest
*~
TAGS
Makefile
autom4te.cache
configure
config.h
config.h.in
config.status
sgml.tex
sgml.html
sgml.pdf
pwp.tex
xpath.tex
c14n2.tex
.coflags
.pl-history
dtd2pl
sgml
